@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/* Apply Inter SemiBold to all headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600; /* SemiBold */
}

.md-typeset h1, .md-typeset h2 {
    font-weight: 300;
    letter-spacing: -.01em;
    color: black;
}
